@font-face {
  font-family: LT33;
  src: url('HELVETICA_LT_33.TTF');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1.8vw;
  background-color: #f2f2f2;
  font-family: 'LT33', sans-serif;
  color: #505050;
}
.shadow{
    text-shadow: 1px 1px 4px #999;
}
a {
	text-decoration: none;
}
h1 {
  margin: 0;
  font-size: 6vw;
  font-weight: 400;
}
#main {
  background: url('img/fond-fixe.jpg') center fixed;
  max-width: 1600px;
  min-height: 100vh;
  margin: auto;
  height:  100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  position: relative;
  z-index: 10;
  color: #dde5c6;
  box-shadow: 0 0.2vw 0.5vw #777;
}
.header img{
  width: 100%;
  display: block;
}
.header .bandeau {
  box-sizing: border-box;
  padding: 2% 0 1%;
  width: 100%;
  background: rgba(0,0,0,0.56);
  position: absolute;
  bottom: 25%;
}
.header .titre {
  margin: auto;
  width: -moz-max-content;
  width: max-content;
  text-shadow: #444 1px 1px 4px;	
}
.bandeau p{
  margin: 0;
}
.header .bandeau p{
  text-align: right;
  font-size: 2.2vw;
}
.bandeau
 {
  box-shadow: 0px 0.1vw 0.4vw #222;
}
.hasard{
  font-family: "Qwigley", cursive;
  overflow: hidden;
  text-align: center;
  font-size: 7vw;
  padding-top: 2vh;
  opacity: 1;
  transition: opacity 0.5s;
}
.hasard p{
  margin: 0;
}
#box-rubriques * {
  box-sizing: border-box;
}
#box-rubriques {
  padding: 2% 2% 0;
  display: flex;
  align-items: center;
}
.rubriques {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.proses, .poesies, .nondit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 300px;
  width: 26%;
  left: 0;
  top: 0;
  transition: left 0.2s, top 0.2s, opacity 0.2s;
  z-index: 1;
}
nav .rubrique-image {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
figure {
  margin: 0;
  font-size: 2.2vw;
  text-align: center;
}
.rubriques .img {
  width: 100%;
  height: 250px;
}
/* .rubriques .prose {
  background: url(img/img-nav-prose.png) cover center;
} */
aside {
  display: none;
  width: 54%;
  text-shadow: 1px 1px 4px #444;
}
aside p {
  margin: 0;
}
aside img {
  width: 100%;
}
#box {
  position: absolute;
  opacity: 0;
  width: 70%;
  top: 0;
  padding: 2px 3.5% 0;
  padding-left: calc(3.5% + 2px);
  overflow: hidden;
  -moz-user-select: none;
  user-select: none;
  transition: opacity 0.4s, left 0.4s, top 0.4s;
}
#inbox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: auto;
  background-color:rgba(0,0,0,0.80);
  border-radius: 15px;
  height: 0px;
  padding: 3%;
  color: #dde5c6;
  font-size: 16px;
  overflow: hidden;
  box-shadow: 1px 1px 3px #777;
  margin-bottom: 3px;
}
#inbox p {
  flex: 0 0 30px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}
#excerpt-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: url('img/close.png'), #333;
  border-radius: 42px;
  cursor: pointer;
}
#excerpt-scrollbar, #reader-scrollbar {
  position: absolute;
  top: 14%;
  right: 9%;
  width: 2px;
  height: 72%;
  background: #aaa;
}
#reader-scrollBar {
  background: #777;
}
#excerpt-scroll, #reader-scroll {
  position: relative;
  top: -25px;
  right: 49px;
  width: 100px;
  height: 100px;
  background: url('img/btn-barre-scroll.png') center/8px 24px no-repeat;
  border-radius: 50px;
}
footer {
  position: relative;
  width: 100%;
  font-size: 1.7vw;
}
footer .bandeau {
  display: flex;
  background: rgba(0,0,0,0.4);
  justify-content: space-evenly;
  text-align: center;
  padding: 0.5%;
  color: #dde5c6;
  text-shadow: #505050 1px 1px 2px;
}
footer .design, footer .contact, footer .dev {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: auto;
}
footer img {
  width: 46%;
  max-width: 280px;
}
footer a {
  color: #dde5c6;
}
footer .texte {
  display: none;
}
footer .txt {
  width: 33%;
}
footer .contact .txt {
  width: auto;
}
footer .stylo-txt1 {
  margin-bottom: 0.8vw;
  font-weight: 700;
  opacity: 0.9;
}
footer .stylo-txt2 {
  font-size: 1.6vw;
}
footer .copyright{
    padding: 0.6vw 0;
    font-size: 1.3vw;
    text-align: center;
    text-shadow: #333 1px 1px 2px;
}
.over {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}
#reader-container {
  font-family: "Questrial";
  font-size: 16px;
  color: #222;
  padding: 10px;
  z-index: 20;

}
#reader-box {
  --reader-bg-color: #e4e0d8;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  height: 100%;
  max-height: 800px;
  border-radius: 15px;
  background: var(--reader-bg-color);
  text-shadow: #bbb 1px 1px 2px;
  overflow: hidden;
}
#reader {
  overflow: auto;
  overflow: hidden;
  margin: 0 auto;
  cursor: default;
  -moz-user-select: none;
  user-select: none;
}
#reader-titre, #popup-titre {
  text-align: center;
  width: 100%;
  line-height: 30px;
  font-size: 20px;
  color: #dde5c6;
  font-family: 'LT33';
  text-shadow: #a7a7a7 0.5px 0.5px 1px;
}
#texte {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  min-height: 100%;
  padding: 50px;
  padding-bottom: 0;
  text-align: justify;
}
#texte.texteVerticalCenter {
  padding-top: 0;
  justify-content: center;
}
#texte h2 {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}
#texte h3 {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
#texte p.center {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
#texte p.right {
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}
#texte p {
  margin: 0.5em 0;
}
#pageNb {
  -moz-user-select: none;
  user-select: none;
  z-index:5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  padding-top: 8px;
  font-size: 16px;
  bottom: 0;
  background: var(--reader-bg-color);
  color: #333;
  border-radius: 10px;
}
#reader-scrollbar {
  right: 14px;
  background: #c5bcae;
}
#nav, #popup-nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 580px;
}
#close, #prev, #next, #popup-close, #popup-prev, #popup-next {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
#close, #popup-close {
  width: 30px;
  height: 30px;
  background: center/30px no-repeat url(img/close.png);
}
#prev, #popup-prev {
  background: 0 center no-repeat url(img/prev.png);
}
#next, #popup-next {
  background: 100% center no-repeat url(img/next.png);
}

#texte.galerie {
  flex-direction: inherit;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  padding: 0 16px 0 0;
}
#texte.galerie h2 {
  width: 100%;
  margin-bottom: 20px;
}
figure.thumb {
  display: flex;
  flex-direction: column;
  width: 29%;
  max-width: 175px;
  margin: 10px 10px;
  /* margin: 10px 0; */
}
figure.thumb img {
  width:100%;
  height: auto;
  min-height: 150px;
  border-radius: 8px;
  box-shadow: #777 2px 2px 5px;
  cursor: pointer;
}
.thumb figcaption {
  font-size: 15px;
  margin-top: 6px;
  text-shadow: #999 1px 1px 2px;
}
#popup-container {
  z-index: 30;
}
#popup-img {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s;
}
#popup-container img {
  width: 1px;
  margin: 0 auto 0px;
  border-radius: 10px;
  transition: width 0.5s;
}
#popup-close, #popup-prev, #popup-next {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
#popup-close {
  right: 0px;
  top: 100%;
}
#popup-prev, #popup-next {
  height: 100%;
  width: 100px;
}
#popup-prev {
  left: 10px;
}
#popup-next {
  right: 10px;
}
#popup-img:hover #popup-next,
#popup-img:hover #popup-prev,
#popup-img:hover #popup-close {
  opacity: 1;
}
@media screen and (min-width: 1600px) {
  body {
    background-color: black;
    font-size: 28px;
  }
  .bandeau h1 {
    font-size: 110px;
  }
  .header .bandeau p {
    font-size: 35px;
  }
  .hasard {
    font-size: 78px;
  }
  nav .texte {
    font-size: 35px;
  }
    footer .stylo-txt1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  footer .stylo-txt2 {
    font-size: 20px;
  }
  footer .copyright {
    font-size: 14px;
    padding: 10px 0;
  }
}

@media screen and (min-width: 800px) {
  .hasard {
    font-size: 4.8vw;
  }
  #inbox p {
    font-size: 20px;
    padding: 5px 0;
  }
}

@media screen and (max-width: 600px) {
  #main {
    min-height: 100vh;
  }
  .header img{
    position: absolute;
    bottom: 0;
  }
  /* javascript indication mobile */
  .header .bandeau {
    position: relative;
  }
  .hasard{
    display: none;
  }
  #box-rubriques {
    flex: auto;
    display: flex;
    align-items: normal;
    padding: 2%;
  }
  .rubriques {
    flex-direction: column;
  }
  nav .rubrique-image {
    margin: 0;
  }
  .proses, .poesies, .nondit {
    width: 100%;
    max-width: initial;
    padding: 2%;
  }
  figure {
    width: 46%;
  }
  figure.thumb{
    width: 45%;
	  margin: 10px 2px;
  }
  figure.thumb img {
    min-height: 120px;
  }
  figcaption.texte {
    display: none;
  }
  /*  */
  aside {
    display: block;
    text-align: center;
    font-size: 7.5vw;

  }
  #box {
    width: 100%;
  }
  #inbox {
    transition: bottom 0.4s, right 0s;
  }
  footer .bandeau {
    padding: 2%;
    box-shadow: #999 1px 1px 2px;
  }
  footer .contact, footer .dev {
    display: none;
  }
  footer .design {
    width: 40%;
  }
  footer img {
    width: 100%;
  }
  footer .txt {
    display: none;
  }
  footer .texte {
    display: block;
    font-size: 4vw;
    width: 60%;
  }
  footer .stylo-txt1 {
    display: none;
  }
  footer .stylo-txt2 {
    display: none;
  }
  footer .copyright{
      padding: 1.5vw 0;
      font-size: 3vw;
      text-shadow: #777 1px 1px 2px;
  }
  #box-reader {
    font-size: 14px;
    padding: 14px;
  }
  #titre {
    top: -32px;
    font-size: 16px;
  }
  #texte {
    padding: 12px 18px 12px 12px;
    font-size: 14px;
  }
  #texte.galerie {
	  justify-content: space-around;
  }
  #reader-titre, #popup-titre {
    font-size: 16px;
  }
  #reader-scrollbar {
    right: 10px;
    opacity: 0.5;
  }
}
@media (hover:none) {
  #popup-prev, #popup-next {
    opacity: 0 !important;
  }
  #popup-close {
    opacity: 1;
  }
}

@supports (-ms-ime-align: auto) {
  .header .titre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .design, footer .contact, footer .dev {
    justify-content: center;
  }
}
